In [ ]:
import argparse
import os
import pandas as pd
from sqlalchemy import create_engine
from time import time


import subprocess

In [ ]:
def download_file(url, output_path):
    if not os.path.exists(output_path):
        print(f"File not found: {output_path}. Downloading...")
        try:
            subprocess.run(["wget", "-O", output_path, url], check=True)
            print(f"File downloaded successfully: {output_path}")
        except subprocess.CalledProcessError as e:
            print(f"Error downloading file: {e}")
    else:
        print(f"File already exists: {output_path}. Skipping download.")

In [16]:
csv_zone_lookup = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
path_zone_lookup = "taxi_zone_lookup.csv"

# download_file(csv_zone_lookup, path_zone_lookup)

In [17]:
df = pd.read_csv(path_zone_lookup)

In [18]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [20]:
len(df)

265